RewriteEngine On
RewriteBase /prueba/ejercicios/mvc/public/

# Si no es archivo ni carpeta real → index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]